body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background:rgb(75, 75, 75);
	color: whitesmoke;
}

.app > header nav ul {
	display: flex;
	justify-content: row;
	justify-content: space-evenly;

	list-style: none;
	margin: 0;
	padding: 0;
}